body {
  margin: 0;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.app {
  padding: 35px 20px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #222;
}
 